<h1>Make a Booking</h1>
<form method="POST" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Listing</label>
    <select name="listing_id" class="form-select" required>
      <% listings.forEach(function(l){ %>
        <option value="<%= l.id %>"><%= l.title %></option>
      <% }) %>
    </select>
  </div>
  <div class="col-md-6">
    <label class="form-label">Your name</label>
    <input name="name" class="form-control" required />
  </div>
  <div class="col-md-6">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" required />
  </div>
  <div class="col-md-3">
    <label class="form-label">Check-in Date</label>
    <input name="checkin_date" type="date" class="form-control" required />
  </div>
  <div class="col-md-3">
    <label class="form-label">Check-in Time</label>
    <input name="checkin_time" type="time" class="form-control" value="15:00" required />
  </div>
  <div class="col-md-3">
    <label class="form-label">Check-out Date</label>
    <input name="checkout_date" type="date" class="form-control" required />
  </div>
  <div class="col-md-3">
    <label class="form-label">Check-out Time</label>
    <input name="checkout_time" type="time" class="form-control" value="11:00" required />
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Confirm Booking</button>
  </div>
</form>
